[submodule "roles/service_ceph"]
	path = roles/service_ceph
	url = ../ansible-role-service-ceph
[submodule "roles/network_vxlanevpn"]
	path = roles/network_vxlanevpn
	url = ../ansible-role-network-vxlanevpn
[submodule "roles/base"]
	path = roles/base
	url = ../ansible-role-base-linux
[submodule "roles/service_mariadb"]
	path = roles/service_mariadb
	url = ../ansible-role-service-mariadb
[submodule "roles/service_keepalived"]
	path = roles/service_keepalived
	url = ../ansible-role-service-keepalived
[submodule "roles/sonic"]
	path = roles/sonic
	url = ../ansible-role-sonic
[submodule "roles/service_cloudstack"]
	path = roles/service_cloudstack
	url = ../ansible-role-service-cloudstack
[submodule "roles/service_apache"]
	path = roles/service_apache
	url = ../ansible-role-service-apache
[submodule "roles/app_wordpress"]
	path = roles/app_wordpress
	url = ../ansible-role-app-wordpress
[submodule "roles/service_php"]
	path = roles/service_php
	url = ../ansible-role-service-php
[submodule "roles/auth_freeipa"]
	path = roles/auth_freeipa
	url = ../ansible-role-auth-freeipa
[submodule "roles/auth_sssd"]
	path = roles/auth_sssd
	url = ../ansible-role-auth-sssd
[submodule "roles/service_freeipa"]
	path = roles/service_freeipa
	url = ../ansible-role-service-freeipa
[submodule "roles/service_bind"]
	path = roles/service_bind
	url = ../ansible-role-service-bind
[submodule "roles/service_mirror"]
	path = roles/service_mirror
	url = ../ansible-role-service-mirror
[submodule "roles/service_squid"]
	path = roles/service_squid
	url = ../ansible-role-service-squid
