[submodule "roles/service_ceph"]
	path = roles/service_ceph
	url = ../ansible-role-service-ceph
[submodule "roles/network_vxlanevpn"]
	path = roles/network_vxlanevpn
	url = ../ansible-role-network-vxlanevpn
[submodule "roles/base"]
	path = roles/base
	url = ../ansible-role-base-linux
[submodule "roles/service_mariadb"]
	path = roles/service_mariadb
	url = ../ansible-role-service-mariadb
[submodule "roles/service_keepalived"]
	path = roles/service_keepalived
	url = ../ansible-role-service-keepalived
