{
{% if (sonic_asn is defined and sonic_vxlan_vtep_ip is not defined) or (sonic_asn is not defined and sonic_vxlan_vtep_ip is defined) %}
{{ notdefined | mandatory(msg='if sonic_asn or sonic_vxlan_vtep_ip are defined, both must be.') }}
{% endif %}
{% if not sonic_bgp_external|default(true) and sonic_asn is defined %}
    "BGP_GLOBALS": {
        "default": {
            "local_asn": "{{ sonic_asn }}",
            "log_nbr_state_changes": "true",
            "router_id": "{{ sonic_vxlan_vtep_ip|split('/')|first }}",
            "load_balance_mp_relax": "true"
        }
    },
    "BGP_GLOBALS_AF": {
        "default|ipv4_unicast": {
            "max_ebgp_paths": "2"
        },
        "default|ipv6_unicast": {
            "max_ebgp_paths": "2"
        },
        "default|l2vpn_evpn": {
            "advertise-all-vni": "true",
            "advertise-svi-ip": "true",
            "autort": "rfc8365-compatible"
        }
    },
    "BGP_PEER_GROUP": {
        "default|PEERS": {
            "peer_type": "external",
            "keepalive": "3",
            "holdtime": "9",
            "min_adv_interval": "5",
            "capability_ext_nexthop": "true",
            "bfd": "true"
        }
    },
    "BGP_PEER_GROUP_AF": {
        "default|PEERS|ipv4_unicast": {
            "admin_status": "up",
            "route_map_in": [ "ALLOW" ],
            "route_map_out": [ "ALLOW" ]
        },
        "default|PEERS|ipv6_unicast": {
            "admin_status": "up",
            "route_map_in": [ "ALLOW" ],
            "route_map_out": [ "ALLOW" ]
        },
        "default|PEERS|l2vpn_evpn": {
            "admin_status": "up",
            "route_map_in": [ "ALLOW" ],
            "route_map_out": [ "ALLOW" ],
            "unchanged_nexthop": "true"
        }
    },

{%   set ns = namespace(has_dynamic_neighbor=false) %}
{%   for port in ports %}
{%     if sonic_interfaces[port.index].bgp_underlay|default(false) %}
{%       if not sonic_interfaces[port.index].layer3|default(false) %}
{{ notdefined | mandatory(msg='if bgp_underlay is set, layer3 must also be set on port ' ~ port.index|string ~ '.') }}
{%       endif %}
{%       set ns.has_dynamic_neighbor=true %}
{%     endif %}
{%   endfor %}

{%   if ns.has_dynamic_neighbor %}
    "BGP_NEIGHBOR": {
{# ======== BGP Unnumbered ========= #}
{%     if sonic_bgp_peers|default([])|count == 0 %}
{%       set ns = namespace(has_neighbor=false) %}
{%       for port in ports %}
{%         if sonic_interfaces[port.index].bgp_underlay|default(false) %}
{%-           if ns.has_neighbor %}
        ,
{%            endif %}
{%            set ns.has_neighbor=true %}
        "default|{{ port.port }}": {
            "peer_group_name": "PEERS"
        }
{%         endif %}
{%       endfor %}
{%     endif %}
    },
{%   endif %}
    "ROUTE_MAP_SET": {
        "ALLOW": {}
    },
    "ROUTE_MAP": {
        "ALLOW|1": {
            "route_operation": "permit"
        }
    },
    "ROUTE_REDISTRIBUTE": {
        "default|connected|bgp|ipv4": {},
        "default|connected|bgp|ipv6": {}
    }
{% endif %}
}
