hostname {{ inventory_hostname }}
password zebra
enable password zebra
!
log syslog informational
log facility local4
!
!
{% if (sonic_asn is defined and sonic_vxlan_vtep_ip is not defined) or (sonic_asn is not defined and sonic_vxlan_vtep_ip is defined) %}
{{ notdefined | mandatory(msg='if sonic_asn or sonic_vxlan_vtep_ip are defined, both must be.') }}
{% endif %}

{% if sonic_asn is defined and sonic_vxlan_vtep_ip is defined %}
!
! Export any IPs in Loopback0 as these are our VTEPs
route-map EXPORT permit 1
match interface Loopback0
!
! Redistribute prefixes learned via BGP
route-map EXPORT permit 2
  match large-community {{ sonic_asn }}:10:0
!
! Tag route learned through BGP
route-map IMPORT permit 1
  set large-community {{ sonic_asn }}:10:0
!
! Permit everything
route-map PERMIT permit 1
!
!
router bgp {{ sonic_asn }}
  bgp router-id {{ sonic_vxlan_vtep_ip|split('/')|first }}
  bgp ebgp-requires-policy
  bgp log-neighbor-changes
  ! Enable ECMP on multiple eBGP paths
  bgp bestpath as-path multipath-relax
  ! Don't install more than 2 paths for ECMP
  maximum-paths 2
  !
  neighbor PEERS peer-group
  neighbor PEERS remote-as external
  neighbor PEERS timers 3 9
  neighbor PEERS advertisement-interval 5
  neighbor PEERS bfd
  neighbor PEERS capability extended-nexthop

  address-family ipv4 unicast
    neighbor PEERS activate
    neighbor PEERS route-map IMPORT in
    neighbor PEERS route-map EXPORT out
    redistribute connected
  !
  address-family ipv6 unicast
    neighbor PEERS activate
    neighbor PEERS route-map IMPORT in
    neighbor PEERS route-map EXPORT out
    redistribute connected
  !
  address-family l2vpn evpn
    neighbor PEERS activate
    neighbor PEERS route-map PERMIT in
    neighbor PEERS route-map PERMIT out
    neighbor PEERS attribute-unchanged next-hop
    autort rfc8365-compatible
    advertise-all-vni
    advertise-svi-ip
  !
{%   for port in ports %}
{%     if sonic_interfaces[port.index].bgp_underlay|default(false) %}
{%       if not sonic_interfaces[port.index].layer3|default(false) %}
{{ notdefined | mandatory(msg='if bgp_underlay is set, layer3 must also be set on port ' ~ port.index|string ~ '.') }}
{%       endif %}
  neighbor {{ port.port }} interface peer-group PEERS
{%     endif %}
{%    endfor %}
!
{% endif %}
