hostname {{ inventory_hostname }}
password zebra
enable password zebra
!
log syslog informational
log facility local4
!
agentx
!
!
router bgp {{ sonic_asn }}
  bgp router-id {{ sonic_bgp_ip }}
  no bgp ebgp-requires-policy
{% for port in ports %}
{%  if sonic_interfaces[port.index].layer3|default(false) %}
  neighbor {{ port.port }} interface remote-as external
{%  endif %}
{% endfor %}
  address-family ipv4 unicast
{% for port in ports %}
{%  if sonic_interfaces[port.index].layer3|default(false) %}
    neighbor {{ port.port }} activate
{%  endif %}
{% endfor %}
    redistribute connected
  exit-address-family
  address-family ipv6 unicast
{% for port in ports %}
{%  if sonic_interfaces[port.index].layer3|default(false) %}
    neighbor {{ port.port }} activate
{%  endif %}
{% endfor %}
    redistribute connected
  exit-address-family
  address-family l2vpn evpn
{% for port in ports %}
{%  if sonic_interfaces[port.index].layer3|default(false) %}
    neighbor {{ port.port }} activate
{%  endif %}
{% endfor %}
    advertise-all-vni
  exit-address-family
