{
  "DEVICE_METADATA": {
    "localhost": {
{# Setting docker_routing_config_mode to split means we are configuring #}
{# BGP outside of SONiC.  However we still have to set                  #}
{# frr_mgmt_framework_config to true otherwise it doesn't start bfdd    #}
{# Doesn't make sense ...                                               #}
      "docker_routing_config_mode": "{{ "split" if sonic_bgp_external|default(true) else "unified" }}",
      "frr_mgmt_framework_config": "true",
      "hostname": "{{ inventory_hostname }}",
{%- if sonic_version|int >= 202405 %}
      "timezone": "UTC",
{% endif %}
      "type": "LeafRouter",
      "bgp_adv_lo_prefix_as_128": "true"
    }
  }
}
