{
{% set ns = namespace(iface_exists=false) %}
{% for port in ports %}
{%   if sonic_interfaces[port.index].layer3|default(false) or (sonic_interfaces[port.index].ips is defined and sonic_interfaces[port.index].ips | count > 0) %}
{%     set ns.iface_exists=true %}
{%   endif %}
{% endfor %}
{% if ns.iface_exists %}
  "INTERFACE": {
{%   set ns = namespace(has_iface=false) %}
{%   for port in ports %}
{%     if sonic_interfaces[port.index].layer3|default(false) or (sonic_interfaces[port.index].ips is defined and sonic_interfaces[port.index].ips | count > 0) %}
{%-      if ns.has_iface %}
,
{%       endif %}
{%       set ns.has_iface = true %}
  "{{ port.port }}": {
{%       if sonic_interfaces[port.index].vrf is defined %}
      "vrf_name": "{{ sonic_interfaces[port.index].vrf }}",
{%       endif %}
{# Need a unique mac address per routed interface, otherwise all interfaces use #}
{# the system MAC, so if dual connected to the same system, this will cause #}
{# collisions.  Some switches like Mellanox have something called a permanent #}
{# address which is unique to the port and is the only one allowed to be set #}
{# differently from the global default. Use it if we have it, otherwise generate one #}
{%       if sonic_interfaces[port.index].mac_addr is defined %}
{%         set mac_addr=sonic_interfaces[port.index].mac_addr %}
{%       elif port_perm_macaddr[port.port]|default(sonic_mac_address) != sonic_mac_address %}
{%         set mac_addr=port_perm_macaddr[port.port] %}
{%       elif asic == "mellanox" %}
{# We can't use a custom mac, not sure what to do here other than just use the system one. #}
{# On SN2410 we've seen 1 port not have a permaddr, so presumably this means they want #}
{# the system mac used there #}
{%         set mac_addr=sonic_mac_address %}
{%       else %}
{%         set mac_addr='02' | community.general.random_mac(seed=inventory_hostname ~ "_" ~ port.index|string) %}
{%       endif %}
      "mac_addr": "{{ mac_addr }}",
      "ipv6_use_link_local_only": "{{ 'enable' if sonic_interfaces[port.index].layer3|default(false) else 'disable' }}"
    }
{%     endif %}

{%     if sonic_interfaces[port.index].ips is defined and sonic_interfaces[port.index].ips | count > 0 %}
{%       for ip in sonic_interfaces[port.index].ips %}
    ,"{{ port.port }}|{{ ip }}": {}
{%       endfor %}
{%     endif %}
{%   endfor %}
  }
{% endif %}
}
