{
  "PORT": {
{% for port in ports %}
  "{{ port.port }}": {
      "admin_status": "{{ sonic_interfaces[port.index].admin_status|default("down") }}",
      "alias": "{{ port.alias }}",
      "index": "{{ port.index }}",
      "lanes": "{{ port.lanes }}",
      "mtu": "{{ sonic_interfaces[port.index].mtu|default("9216") }}",
      "speed": "{{ sonic_interfaces[port.index].mtu|default(port.speed) }}",
      "autoneg": "{{ sonic_interfaces[port.index].autoneg|default("on") }}",
{%   if sonic_interfaces[port.index].autoneg|default("on") and sonic_interfaces[port.index].adv_speeds is defined %}
      "adv_speeds": "{{ sonic_interfaces[port.index].adv_speeds }}",
{%   endif %}
      "description": "{{ sonic_interfaces[port.index].description|default("") }}"
    }
{%- if not loop.last %}
,
{% endif %}
{% endfor %}
  }
}
