{# validate all port indexes listed are valid on system #}
{% for idx, iface in sonic_interfaces.items() %}
{%   if idx|int(-1) == -1 %}
{{ notdefiend | mandatory(msg='sonic_interfaces index ' ~ idx|string ~ ' must be numeric') }}
{%   endif %}
{%   set ns = namespace(has_iface_idx=false) %}
{%   for port in ports %}
{%     if port.index|int == idx|int %}
{%       set ns.has_iface_idx=true %}
{%     endif %}
{%   endfor %}
{%   if not ns.has_iface_idx %}
{{ notdefined | mandatory(msg='sonic_interfaces index ' ~ idx|string ~ ' is an invalid port') }}
{%   endif %}
{% endfor %}
{
  "PORT": {
{% for port in ports %}
  "{{ port.port }}": {
{%   if sonic_interfaces[port.index].description is defined %}
      "description": "{{ sonic_interfaces[port.index].description }}",
{%   endif %}
{%   set mode = "access" if (sonic_interfaces[port.index].vlans|default([])|count == 1 and sonic_interfaces[port.index].vlans[0].mode|default("tagged") == "untagged") else ("trunk" if sonic_interfaces[port.index].vlans|default([])|count > 0 else "routed") %}
      "mtu": "{{ sonic_interfaces[port.index].mtu|default("9216" if mode == "routed" else "9100") }}",
{%   set speed = sonic_interfaces[port.index].speed|default(port.speed)|int %}
      "speed": "{{ speed }}",
{%   set autoneg = 'off' %}
{%   if sonic_interfaces[port.index].autoneg is defined %}
{%     set autoneg = sonic_interfaces[port.index].autoneg %}
{%   elif port_connectors[port.port]|default("") == "RJ45" %}
{%     set autoneg = 'on' %}
{%   elif port_connectors[port.port]|default("") == "unknown" and port.speed|int <= 10000 %}
{%     set autoneg = 'on' %}
{%   endif %}
      "autoneg": "{{ autoneg }}",
{%   if autoneg and sonic_interfaces[port.index].adv_speeds is defined %}
      "adv_speeds": "{{ sonic_interfaces[port.index].adv_speeds }}",
{%   endif %}
      "admin_status": "{{ sonic_interfaces[port.index].admin_status|default("up" if sonic_interfaces[port.index] is defined else "down") }}",
{%   if port_connectors[port.port]|default("") != "RJ45" %}
      "fec": "{{ sonic_interfaces[port.index].fec|default('none' if sonic_interfaces[port.index] is not defined or speed <= 10000 or sonic_interfaces[port.index].admin_status|default("up") == "down" else 'rs') }}",
{%   endif %}
      "alias": "{{ port.alias }}",
      "index": "{{ port.index }}",
      "lanes": "{{ port.lanes }}"
{%- if sonic_version|int >= 202405 %}
      ,
      "mode": "{{ mode }}"
{% endif %}
    }
{%- if not loop.last %}
,
{% endif %}
{% endfor %}
  }
}
