{
{% if sonic_routes is defined and sonic_routes|count > 0 %}
  "STATIC_ROUTE": {
{%   for route in sonic_routes %}
{%     if (route.ifname is defined and route.nexthop is defined) or (route.ifname is not defined and route.nexthop is not defined) %}
       {{ notdefined | mandatory(msg='route ifname or nexthop must be defined and not both') }}
{%     endif %}
{%     if not (route.prefix | ansible.utils.ipaddr('net')) and not (route.prefix | ansible.utils.ipaddr('host/prefix')) %}
    {{ notdefined | mandatory(msg="prefix must be in network mask form: " ~ route.prefix) }}
{%     endif %}
    "default|{{ route.prefix }}": {
{%     if route.ifname is defined %}
      "ifname": "{{ route.ifname }}",
{%     endif %}
{%     if route.nexthop is defined %}
{%       if (not (route.nexthop | ansible.utils.ipaddr('address'))) or '/' in route.nexthop %}
      {{ notdefined | mandatory(msg='nexthop must be a valid ip address (without netmask): ' ~ route.nexthop) }}
{%       endif %}
      "nexthop": "{{ route.nexthop }}"
{%     endif %}
    }
{%-    if not loop.last %}
,
{%     endif %}
{%   endfor %}
  }
{% endif %}
}
