{
{% set vlanconf = namespace(has_vxlan_map=false,has_vlan_iface=false) %}
{% for key, vlan in sonic_vlans.items() %}
{%   if vlan.vxlan is defined %}
{%     set vlanconf.has_vxlan_map = true %}
{%   endif %}
{%   if vlan.layer3|default(false) or (vlan.ips is defined and vlan.ips | count > 0) %}
{%     set vlanconf.has_vlan_iface = true %}
{%   endif %}
{% endfor %}

{%- if sonic_vlans is defined and sonic_vlans|count > 0 %}
  "VLAN": {
{%   for key, vlan in sonic_vlans.items() %}
    "Vlan{{ key }}": {
      "vlanid": "{{ key }}",
      "mtu": "{{ vlan.mtu if vlan.mtu is defined else ("1500" if vlan.ips|default([])|count > 0 or vlan.layer3|default(false) else "9100") }}"
    }
{%-    if not loop.last %}
,
{%     endif %}
{%   endfor %}
  }
{% endif %}

{%- if sonic_vxlan_vtep_ip is defined %}
  ,
  "VXLAN_EVPN_NVO": {
    "nvo": {
      "source_vtep": "vtep"
    }
  }
  ,
  "VXLAN_TUNNEL": {
    "vtep": {
      "src_ip": "{{ sonic_vxlan_vtep_ip|split('/')|first }}"
    }
  }
{% endif %}

{%- if vlanconf.has_vxlan_map %}
  ,
  "VXLAN_TUNNEL_MAP": {
{%   set ns = namespace(has_vxlan=false) %}
{%   for key, vlan in sonic_vlans.items() %}
{%     if vlan.vxlan is defined %}
{%-      if ns.has_vxlan %}
,
{%       endif %}
{%       set ns.has_vxlan = true %}
    "vtep|map_{{ vlan.vxlan }}_Vlan{{ key }}": {
      "vlan": "Vlan{{ key }}",
      "vni": "{{ vlan.vxlan }}"
    }
{%     endif %}
{%   endfor %}
  }
{% endif %}

{%- if vlanconf.has_vlan_iface %}
  ,
  "VLAN_INTERFACE": {
{%   set ns = namespace(has_vxlan_iface=false) %}
{%   for key, vlan in sonic_vlans.items() %}

{%     if vlan.layer3|default(false) or (vlan.ips is defined and vlan.ips | count > 0) %}
{%-      if ns.has_vxlan_iface %}
,
{%       endif %}
{%       set ns.has_vxlan_iface = true %}
    "Vlan{{ key }}": {
{%       if vlan.vrf is defined %}
      "vrf_name": "{{ vlan.vrf }}",
{%       endif %}
{%       if asic != "mellanox" %}
      "mac_addr": "{{ vlan.mac_addr|default('02' | community.general.random_mac(seed=inventory_hostname ~ "_Vlan" ~ key|string)) }}",
{%       endif %}
      "ipv6_use_link_local_only": "{{ "enable" if vlan.layer3|default(false) else "disable" }}"
    }
{%     endif %}

{%     if vlan.ips is defined and vlan.ips | count > 0 %}
{%-      if ns.has_vxlan_iface %}
,
{%       endif %}
{%       set ns.has_vxlan_iface = true %}
{%       for ip in vlan.ips %}
    "Vlan{{ key }}|{{ ip }}": {}
{%-        if not loop.last %}
,
{%         endif %}
{%       endfor %}
{%     endif %}
{%   endfor %}
  }
{% endif %}

{%- if sonic_vlans is defined and sonic_vlans|count > 0 %}
  ,
  "VLAN_MEMBER": {
{%   set ns = namespace(has_vlan_mem=false) %}
{%   for key, vlan in sonic_vlans.items() %}
{%     for port in ports %}
{%       for ifacevlan in sonic_interfaces[port.index].vlans|default([]) %}
{%         if ifacevlan.vlan|int == key|int %}
{%-          if ns.has_vlan_mem %}
,
{%           endif %}
{%           set ns.has_vlan_mem = true %}
    "Vlan{{ key }}|{{ port.port }}": {
      "tagging_mode": "{{ ifacevlan.mode|default("tagged") }}"
    }
{%         endif %}
{%       endfor %}
{%     endfor %}
{%   endfor %}

{%   if sonic_portchannel is defined %}
{%     for key, channel in sonic_portchannel.items() %}
{%       for vlan in channel.vlans|default([]) %}
{%-        if ns.has_vlan_mem %}
,
{%         endif %}
{%         set ns.has_vlan_mem = true %}
    "Vlan{{ vlan.vlan }}|PortChannel{{ "%04d" | format(key|int) }}": {
      "tagging_mode": "{{ vlan.mode|default("tagged") }}"
    }
{%       endfor %}
{%     endfor %}
{%   endif %}
  }
{% endif %}
}



