[mariadb]
wsrep_provider = {{ '/usr/lib64/galera-4/libgalera_smm.so' if ansible_os_family == 'RedHat' else '/usr/lib/galera/libgalera_smm.so' }}
wsrep_on = on
wsrep_node_address = {{ mariadb_cluster_ip }}
wsrep_cluster_name = {{ mariadb_cluster_name}}
wsrep_cluster_address=gcomm://{{ mariadb_hosts | reject('search', inventory_hostname | split('.') | first )|join(",") }}
innodb_autoinc_lock_mode = 2

# SST replication needs
#   CREATE USER 'mariabackup'@'localhost' IDENTIFIED BY 'mypassword';
#   GRANT RELOAD, PROCESS, LOCK TABLES, BINLOG MONITOR ON *.* TO 'mariabackup'@'localhost';
wsrep_sst_method = mariabackup
wsrep_sst_auth = {{ mariadb_sst_user }}:{{ mariadb_sst_password }}

{% if mariadb_cluster_singlewriter|default(false) %}
# Optimize for single writer
wsrep_provider_options = "gcs.fc_limit = 256; gcs.fc_factor = 0.99; gcs.fc_master_slave = YES"
{% endif %}
