{% if network_underlay_interfaces is not defined %}
{{ notdefined | mandatory(msg='network_underlay_interfaces must be defined') }}
{% endif %}
{% set iface_list = [] %}
{% for interface in network_underlay_interfaces %}
{%   if interface.ifname is defined %}
{%     if not interface.ifname in ansible_facts.interfaces %}
{{ notdefined | mandatory(msg='interface with ifname ' + interface.ifname + ' not found') }}
{%     endif %}
{%     do iface_list.append(interface.ifname) %}
{%   elif interface.macaddr is defined %}
{%     for host_iface in ansible_facts.interfaces %}
{%       if ansible_facts[host_iface].macaddress == interface.macaddr %}
{%         do iface_list.append(host_iface) %}
{%       endif %}
{%     endfor %}
{%     if iface_list | length == 0 %}
{{ notdefined | mandatory(msg='interface with macaddr ' + interface.macaddr + ' not found') }}
{%     endif %}
{%   elif interface.driver is defined %}
{%     for host_iface in ansible_facts.interfaces %}
{%       if ansible_facts[host_iface].module|default("") == interface.driver %}
{%         do iface_list.append(host_iface) %}
{%       endif %}
{%     endfor %}
{%     if iface_list | length == 0 %}
{{ notdefined | mandatory(msg='interface with driver ' + interface.driver + ' not found') }}
{%     endif %}
{%   elif interface.pattern is defined %}
{%     for host_iface in ansible_facts.interfaces %}
{%       if host_iface|regex_search(interface.pattern)|length > 0 %}
{%         do iface_list.append(host_iface) %}
{%       endif %}
{%     endfor %}
{%     if iface_list | length == 0 %}
{{ notdefined | mandatory(msg='interface with pattern ' + interface.pattern + ' not found') }}
{%     endif %}
{%   endif %}
{% endfor %}
[
{{ iface_list | sort | join(",") }}
]
