# Cloudstack repository list
# https://download.cloudstack.org/ubuntu
X-Repolib-Name: Cloudstack
Types: deb
URIs: https://download.cloudstack.org/{{ ansible_distribution|lower }}
Suites: {{ ansible_distribution_release }}
Components: 4.20
Signed-By: /etc/apt/trusted.gpg.d/cloudstack.asc
